.box {
    padding-bottom: 10px;
    margin-bottom: 10px;       
}

.boxTitle {
    background-color: aquamarine;
    border: 3px solid aqua;
    border-radius: 1px;
    margin: 0;
}

.boxContent {
    background-color: lightgray;
    border: 3px solid antiquewhite;
    border-radius: 1px;
    margin: 0;
}
